[submodule "provisioning/roles/iscsi-target"]
	path = provisioning/roles/iscsi-target
	url = git@github.com:VerosK/ansible-iscsi-target.git
[submodule "provisioning/roles/iscsi-initiator"]
	path = provisioning/roles/iscsi-initiator
	url = git@github.com:VerosK/ansible-iscsi-initiator.git
